:root {
  --white: #fff;
  --logo: blueviolet;
  --gray: rgb(139, 139, 139);
  --highlight: rgba(81, 81, 247, 0.87);
  --bordercolor: rgb(221, 221, 221);
  --medium: rgb(255, 178, 34);
  --low: rgb(47,161,47);
  --boxshadow: rgba(0, 0, 0, 0.2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  font-family: "Arial", sans-serif;
  background-color: #fff;
  box-sizing: border-box;
  background-color: rgb(250, 250, 250);
}

/* Navigation Menu Styling */
.navbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  box-shadow: 0 2px 5px var(--boxshadow);
}
.logo-section a {
  text-decoration: none;
  cursor: pointer;
}
/* Task Manager - Logo  */
.logo-section {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 4em;
}

.logo-icon {
  color: var(--white);
  background-color: var(--highlight);
  font-size: 1.3em;
  font-weight: bolder;
  border-radius: 6px;
  padding: 0 2px;
}

.logo-text {
  font-weight: 700;
  font-size: 1.4em;
  letter-spacing: 0.1px;
}
/* anchor tag in the navigation bar styling */
.nav-links {
  gap: 3em;
  width: 100%;
  margin-right: 3.8em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-links a {
  font-size: 1.1em;
  text-decoration: none;
  color: var(--gray);
  padding: 0.3em 0.5em;
}
.nav-links a:hover {
  color: var(--highlight);
  background-color: rgb(238, 235, 235);
  border-radius: 6px;
}

.nav-links .active {
  color: var(--highlight);
  background-color: rgb(238, 235, 235);
  border-radius: 6px;
  padding: 0.3em 0.5em;
}

/* Menu - Three lines */
.menu {
  background-color: rgb(245, 245, 245);
  width: 2.2rem;
  padding: 4px 0;
  border-radius: 8px;
  cursor: pointer;
}

.menu {
  display: none;
}
.menu-line {
  width: 1.4rem;
  height: 2px;
  background-color: black;
  margin: 4px auto;
  border-radius: 2px;
}
/* Task Manager Title  */
.title {
  display: flex;
  align-items: center;
  margin-top: 2em;
  margin-bottom: 1rem;
  margin-left: 3.5em;
}

.title div {
  width: 3px;
  height: 1.9rem;
  margin: 0 10px;
  border-radius: 10px;
  background-color: var(--highlight);
}

/* Create task and active tasks contents*/
/* The whole body that contains create task and active task */
.container1 {
  padding: 1em 4em;
  gap: 2em;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
}
/* New Task Form */
.new-task h3 {
  margin: 1em 0.55em 0.4em; /* Top left/right bottom */
}
.new-task form {
  border-color: var(--white);
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border-radius: 10px;
  font-family: "Arial", sans-serif;
  box-shadow:
    0px 0px 2px rgba(0, 0, 0, 0.2),
    /* top shadow */ 0 5px 10px rgba(0, 0, 0, 0.2);
  padding: 0.5em 1em;
}
/* Form inputs and select are styled */
.new-task input{
  margin: 1em 1.3em;
  padding: 0.8em;
  border-radius: 6px;
  background-color: var(--white);
  border: 1px solid var(--bordercolor);
  outline: none;
  transition: border-color 0.2s ease;
}
.new-task label {
  padding-left: 1.2em;
}

/* floating label used */
.field {
  position: relative;
  width: 100%;
  padding-right: 2.2em;
  cursor: pointer;
}
.field input{
  width: 100%;
  background-color: var(--white);
  box-sizing: border-box;
  cursor: pointer;
}
.field input {
  cursor: pointer;
}
.field label {
  padding: 0 2px;
  position: absolute;
  pointer-events: none;
  background-color: var(--white);
  transition: 0.3s ease all;
  top: 6px;
  left: 28px;
  font-size: 12px;
  color: var(--highlight);
}

/* Text area input */
.new-task textarea {
  font-size: 1rem;
  margin: 0.8em 1.1em auto 1.2em;
  border-radius: 6px;
  padding: 0.5em;
  cursor: text;
  border: 1px solid var(--bordercolor);
  color: black;
  resize: none;
}
.new-task textarea::placeholder {
  font-family: "Arial", sans-serif;
  padding: 1.5em 0em;                           /*change*/
}
/*  Task Progress input */
.borderbox.rangeinput .taskprogress-label {
  color: #757575;
  padding: 0;
  margin: 0 0 0 0.5em;
}
.new-task input[type="range"] {
  width: 100%;
  margin: 0 0.6em;
  padding: 0.3em 0;
  accent-color: rgb(81, 81, 247);
  cursor: pointer;
  border: 0px;
}
.borderbox.rangeinput .progress-value {
  color: var(--highlight);
  font-weight: bolder;
  display: flex;
  justify-content: center;
  margin-bottom: 0.2em;
}
.borderbox.rangeinput {
  margin: 0 0.6em;
  margin-top: 0.8em;
  padding: 0;
  padding-right: 1em;
}
.borderbox.rangeinput .error-box {
  margin: 0 0.7em;
}

/* Task Type input */
.task-type {
  margin-top: 1em;
}
.task-type.borderbox .error-box {
  margin: 0 1.4em;
}
.task-type input[type="checkbox"] {
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin-left: 1.5em;
  margin-right: -2.3em;
  vertical-align: middle;
  accent-color: var(--highlight);
}
.task-type .task-label {
  padding: 0 2em;
  vertical-align: middle;
  cursor: pointer;
}
/* status input */
.status-type {
  margin-top: 0.8em;
}
.status-type.borderbox .error-box {
  margin: 0 1.4em;
}
.status-type input[type="radio"] {
  margin-left: 1.5em;
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin-right: -2.3em;
  vertical-align: middle;
  accent-color: var(--highlight);
}
.status-type .status-label {
  padding: 0 2em;
  vertical-align: middle;
  cursor: pointer;
}

input[type="text"],input[type="email"],input[type="url"],input[type="range"] {
  width: 100%;
}
#descrip {
  width: 100%;
  margin-bottom: 0.6em;
  line-height: 1.5;
  overflow-y: hidden;
}
.borderbox {
  padding-right: 2.2em;
}
.new-task .error-box {
  font-size: 14px;
  color: rgb(214, 21, 21);
  margin: -0.6em 0 0 1.2em;
  display: flex;
  align-items: center;
  gap: 0.4em;
  visibility: hidden;
}
.fa-circle-exclamation {   /*warning icon */
  color: #ff0000;
}
.selectAnOption span img{
  width: 15px;
  height: 13px;
  position: absolute;
  right: 5px;
  bottom: 1px;
}
.selectAnOption span{
  position: relative;
}
.selectAnOption{
  display: flex;
  justify-content: space-between;
}
.option span img{
  width: 15px;
  height: 13px;
  position: absolute;
  right: 5px;
  vertical-align: middle;
}
.option span{
  position: relative;
}
.option{
  display: flex;
  justify-content: space-between;
}
.option img{
  display: none;
}

/* custom dropdown  */
.dropdown{
  position: relative;
  font-size: 14px;
}
.field.dropdown{
  padding: 0 1.2em;
  padding-top: 1em;
}

.selectAnOption{
  padding: 0.7em;
  cursor: pointer;
  border-radius: 6px;
  box-sizing: border-box;
  background-color: var(--white);
  border: 1px solid var(--boxshadow);
}
.dropdown-options{
  font-size: 10pt;
  display: none;  /*hides options*/
  position:absolute;
  left: 1.2em;
  right: 1.2em;
  border: 1px solid var(--boxshadow);
  background-color: var(--white);
  border-top: none;
  z-index: 1000;
  border-radius: 6px;
}
.option{
  padding: 0.5em 0.8em;
  cursor: pointer;
}
.option:hover{
  background-color: var(--highlight);
  border-radius: 6px;
  color: var(--white);
}
.field.dropdown .error-box{   /*dropdown error msg */
  margin: 0;
  margin-top: 0.3em;
}
/* buttons - create task and reset */
.task-buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1.5em 1.2em;
  gap: 1em;
}
.task-buttons .create-button {
  text-align: center;
  padding: 1.6em 0;
  width: 40%;
  color: var(--white);
  white-space: nowrap;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  background-color: var(--highlight);
  border: 1px solid var(--highlight);
}
.task-buttons .reset-button {
  width: 30%;
  color: #000;
  padding: 1em 0;
  background-color: rgb(231, 231, 231);
  border: 1px solid rgb(231, 231, 231);
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}
.borderbox input:focus,
.field input:focus{
  border-color: var(--highlight);
}

/* Toast notification  styling */
.success-toast,.delete-toast,.update-toast{
  width: 400px;
  font-weight: bold;
  padding: 0.5em 1em;
  position: fixed;
  top: 80px;
  left: 50%;
  z-index: 9999;
  border-radius: 10px;
  text-align: center;
  transform: translateX(-50%);
  background-color: #f0f7f3;

  display: flex;
  gap: 15px; 
  flex-direction: row;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}
.success-toast.showToast,
.delete-toast.showToast,
.update-toast.showToast,
.delete-confirmation.showToast{
  visibility: visible;
}
/* success Notification */
.success-toast{
  color: rgb(6, 158, 6);
  background-color: #fff;
  border: 1px solid #93DA97;
}
.success-tick{
  font-size: 25px;
}
/* delete Notification */
.delete-toast{
  color: rgb(240, 43, 43);
  background-color: #fff;
  border: 1px solid rgb(241, 161, 161);
}
.delete-toast .deletex{
  font-size: 25px;
}
.update-toast{
  color: #0841fd;
  background-color: #fff;
  border: 1px solid rgb(131, 190, 245);
}

/* Delete confirmation */
.delete-confirmation{
  width: 400px;
  padding: 2em;
  text-align: center;
  position: fixed;
  top: 25%;
  left: 50%;
  z-index: 1000;
  transform: translateX(-50%);
  border-radius: 10px;
  background-color: var(--white);
  border: 1px solid var(--bordercolor);
  box-shadow: 3 3 5px var(--boxshadow);
}

.delete-confirmation,
.delete-confirmation.overlay{
  display: none; 
}
.delete-confirmation.showDeleteConfirm,
.delete-confirmation.overlay{
  display: block;
}
.delete-text{
  display: flex;
  flex-direction: column;
  padding: 0.5em 1em;
  line-height: 1.3;
}
.delete-confirmation #delete-msg{
  color: #FF0000;
}
.delete-confirmation .cancel-delete-btn{
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
  margin-top: 1.5em;
}
#cancel-btn,#delete-btn{
  border: none;
  display: flex;
  gap: 0.5em;
  padding: 1em;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 20px;
  background-color: white;
  box-shadow: 3px 3px 3px var(--boxshadow);
}
#delete-btn{
  color: white;
  background-color: #FF0000;
}
.overlay{
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.6);
  z-index: 999;
}
/* task details pop up */

.task-details{
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: grid;
   grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  "header header header"
  "info  info filter"
  "types types  progress "
  "description description description";
  gap: 1em;

  width: 90%;
  z-index: 1000;
  max-width: 650px;
  min-width: 300px;
  padding: 1em;

  border-radius: 10px;
  transition: 0.2s ease;
  background-color: #ECECEC;
  border: 1px solid var(--bordercolor);
  box-shadow: 3px 3px 5px var(--boxshadow);
}

.task-details .heading{
  display: flex;
  justify-content: space-between;
  align-items: center;

  grid-area: header;
}

.task-details .closeTD{
  width: 2em;
  height: 2em;
  outline: none;
  background: none;
  border-radius: 5px;
  border: 1px solid var(--bordercolor);
}
.task-details .closeTD i{
  font-size: 20px;
}
.task-details .closeTD:hover{
  color: white;
  border-radius: 5px;
  cursor: pointer;
  background-color: #000;
}
.task-info1{
  padding: 1em 0.5em;
  gap: 0.7em;
  display: flex;
  flex-direction: column;
  grid-area: info;
}
.task-info1 span{
  color: #424040;
}
.task-info1 .semi-colon{
  font-size: 1em;
  font-weight: bolder;
}
.task-info1 #strong-name{
  padding-right: 0.5em;
}
.task-info1 #strong-email{
  padding-right: 5.3em;
}
.task-info1 #strong-date{
  padding-right: 3.6em;
}
.task-info1 #strong-time{
  padding-right: 3.4em;
}
.task-info1 #strong-url{
  padding-right: 2.9em;
}

.progress-box input[type="range"]{
  border: 0px;
  padding: 0.3em 0;
  pointer-events: none;
  accent-color: rgb(81, 81, 247);
}
.task-details strong{
  width: 140px;
  color: #494949;
}

.priorityAndstatus{
  grid-area: filter;
  display: flex;
  gap: 1em;
  padding: 1em;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.progress-box{
  grid-area: progress;
  padding: 1em;
}
.progress-box input[type="range"]{
  border: 1px solid red;
  color: var(--highlight);
  background-color: var(--highlight);
}
.types-box{
  grid-area: types;
  padding: 1em;
}
.View-Description{
  grid-area: description;
  padding: 1em;
  display: flex;
  flex-direction: column;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-x: hidden;
}
.task-details .task-info1,.priorityAndstatus,.progress-box,.types-box,.View-Description{
  background-color: #F3F4F4;
  border-radius: 10px;
  box-shadow: 3px 3px 4px var(--boxshadow);
  border: 1px solid var(--bordercolor);
}
.task-details  i{
  width: 20px;
}

.task-details .td-url{
  text-decoration: none;
  color: var(--highlight);
}
.task-details .td-url:active, .td-url:hover{
  text-decoration: underline;
  color: var(--highlight);
  transition: 0.2s ease;
}
.task-details .fa-circle-user{
  color:#0841fd;
}
.task-details .fa-envelope{
  color: #48b3f1;
}
.task-details .fa-calendar-days{
  color: #93DA97;
}
.task-details .fa-clock{
  color: #4ed14e;
}
.task-details .fa-stopwatch{
  color:#da1616;
}
.task-details .fa-link{
  color: #648de4;
}
.task-details .td-description{
  line-height: 1.5;
}
/* task details overlay and popup toggle */
.task-details,
.overlay{
  opacity: 0;
  visibility: hidden;
}
.task-details.openTD, .overlay.openTD{
  opacity: 1;
  visibility: visible;
}

/* edit task styling */
/*  edit popup box */
.edit-overlay,.edit-popup{
  display: none;
}

.edit-overlay.open-edit,
.edit-popup.open-edit{
  display: block;
}
.edit-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.4);
}
.edit-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 600px; 
  max-height: 90vh;
  overflow-y: auto;
  border-radius: 10px;
  scrollbar-width: none;
}
  .edit-popup::-webkit-scrollbar {
  width: 6px;
}

 .edit-task{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1em 0.5em 1em;
 }
 .edit-task button{
  font-size: 18px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
 }
  .edit-task button .fa-xmark{
  padding: 0.2em 0.4em;
  transition: 0.2s ease;
}
.edit-task button .fa-xmark:hover{
  background-color: black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.edit-popup form {
  border-color: var(--white);
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border-radius: 10px;
  font-family: "Arial", sans-serif;
  box-shadow:
    0px 0px 2px rgba(0, 0, 0, 0.2),
    /* top shadow */ 0 5px 10px rgba(0, 0, 0, 0.2);
  padding: 0.5em 1em;
}
/* Form inputs and select are styled */
.edit-popup input{
  margin: 1em 1.3em;
  padding: 0.8em;
  border-radius: 6px;
  background-color: var(--white);
  border: 1px solid var(--bordercolor);
  outline: none;
  transition: border-color 0.2s ease;
}
.edit-popup label {
  padding-left: 1.2em;
}

/* floating label used */
.field {
  position: relative;
  width: 100%;
  padding-right: 2.2em;
  cursor: pointer;
}
.field input{
  width: 100%;
  background-color: var(--white);
  box-sizing: border-box;
  cursor: pointer;
}
.field input {
  cursor: pointer;
}
.field label {
  padding: 0 2px;
  position: absolute;
  pointer-events: none;
  background-color: var(--white);
  transition: 0.3s ease all;
  top: 6px;
  left: 28px;
  font-size: 12px;
  color: var(--highlight);
}

/* Text area input */
.edit-popup textarea {
  font-size: 1rem;
  margin: 0.8em 1.1em auto 1.2em;
  border-radius: 6px;
  padding: 0.5em;
  cursor: text;
  border: 1px solid var(--bordercolor);
  color: black;
  resize: none;
}
.edit-popup textarea::placeholder {
  font-family: "Arial", sans-serif;
  padding: 2.2em 0em;
}
/*  Task Progress input */
.borderbox.rangeinput .taskprogress-label {
  color: #757575;
  padding: 0;
  margin: 0 0 0 0.5em;
}
.edit-popup input[type="range"] {
  width: 100%;
  margin: 0 0.6em;
  padding: 0.3em 0;
  accent-color: rgb(81, 81, 247);
  cursor: pointer;
  border: 0px;
}
.borderbox.rangeinput .progress-value {
  color: var(--highlight);
  font-weight: bolder;
  display: flex;
  justify-content: center;
  margin-bottom: 0.2em;
}
.borderbox.rangeinput {
  margin: 0 0.6em;
  margin-top: 0.8em;
  padding: 0;
  padding-right: 1em;
}
.borderbox.rangeinput .error-box {
  margin: 0 0.7em;
}

/* Task Type input */
.task-type {
  margin-top: 1em;
}
.task-type.borderbox .error-box {
  margin: 0 1.4em;
}
.task-type input[type="checkbox"] {
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin-left: 1.5em;
  margin-right: -2.3em;
  vertical-align: middle;
  accent-color: var(--highlight);
}
.task-type .task-label {
  padding: 0 0 0 2em;
  vertical-align: middle;
  cursor: pointer;
}

/* status input */
.status-type {
  margin-top: 0.8em;
}
.status-type.borderbox .error-box {
  margin: 0 1.4em;
}
.status-type input[type="radio"] {
  margin-left: 1.5em;
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin-right: -2.3em;
  vertical-align: middle;
  accent-color: var(--highlight);
}
.status-type .status-label {
  padding: 0 0 0 2em;
  vertical-align: middle;
  cursor: pointer;
}

input[type="text"],input[type="email"],input[type="url"],input[type="range"] {
  width: 100%;
}
#edit-descrip {
  width: 100%;
  margin-bottom: 0.6em;
}
.borderbox {
  padding-right: 2.2em;
}
.edit-popup .error-box {
  font-size: 14px;
  color: rgb(214, 21, 21);
  margin: -0.6em 0 0 1.2em;
  display: flex;
  align-items: center;
  gap: 0.4em;
  visibility: hidden;
}
.fa-circle-exclamation {   /*warning icon */
  color: #ff0000;
}

/* buttons - update task and cancel */
.task-buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1.5em 1.2em;
  gap: 1em;
}
.task-buttons .update-button {
  text-align: center;
  padding: 1.6em 0;
  width: 50%;
  color: var(--white);
  white-space: nowrap;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  background-color: var(--highlight);
  border: 1px solid var(--highlight);
}
.task-buttons .cancel-button {
  width: 30%;
  color: #000;
  padding: 1em 0;
  background-color: rgb(231, 231, 231);
  border: 1px solid rgb(231, 231, 231);
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}
/*  custom dropdown for js toggle */
.dropdown-options{
  display: none;
}
 .open-custom{    
  display: block;
}
/* erro box and text handle using JS */
.error-box {
  visibility: hidden;
}

.error-box.show {
  visibility: visible;
}

/* container 2 - active tasks contents*/
.container2 {
  padding: 1.5em;
  border-radius: 10px;
  border: 1px solid var(--white);
  background-color: var(--white);
  box-shadow:
    0 0px 2px rgba(0, 0, 0, 0.2),
    /* top shadow */ 0 5px 10px rgba(0, 0, 0, 0.2);
}
/* Navigation Bar on the active tasks content */
.navigationbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.2em;
}
.nav-buttons {
  display: flex;
  gap: 0.5em;
}

.nav-buttons label {
  cursor: pointer;
  border: 1px solid var(--bordercolor);
  background: var(--white);
  padding: 0.4em 1em;
  border-radius: 20px;
  font-size: 1.05em;
  transition: 0.15s ease;
}
.nav-buttons .active {
  background-color: var(--highlight);
  color: var(--white);
  border-color: var(--highlight);
}
/* create task interface for new users  */
.empty-task {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 20px;
  text-align: center;
  color: #555;
}
.empty-task.interface{
  display: flex;
  flex-direction: column;
  width: 100%;
  break-inside: avoid;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.empty-icon {
  font-size: 48px;
  color: #1DCD9F;
  margin-bottom: 12px;
}
.empty-task h3 {
  font-size: 20px;
  margin-bottom: 18px;
}
.add-task-btn {
  background-color: #6366f1;
  color: #fff;
  border: none;
  padding: 0.7em 1.2em;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
}
.add-task-btn:hover {
  background-color: #4f46e5;
  transform: translateY(-1px);
}
/* scroll bar for active task */
.scroll-bar-container{
  height: 1120px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
}

/* Active Tasks contents using masonry layout */

.active-task {
  column-width: 300px;
  column-gap: 1.5em;
  box-sizing: border-box;
}
.active-task .content {
  display: inline-block;
  width: 100%;
  margin-bottom: 1.5em;
  break-inside: avoid;
  border: 1px solid var(--bordercolor);
  color: #000;
  padding: 1.5em;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
}
/* Active Tasks contents using Grid layout */
/* Task title and button */
.content h3 {
  font-size: 1.2em;
  margin-bottom: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
/*edit and delete icons buttons*/
.content h3 .edit-delete{
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}
.content h3 button {
  border: none;
  background: none;
  color:#8f8e8d;
  font-size: 18px;
  cursor: pointer;
}
.content h3 .edit:hover{
  color: blue;
}
.content h3 .delete:hover{
  color: #ff0000;
}
/* calender and user icons */
.calender-icon img {
  width: 15px;
  vertical-align: middle;
  margin-right: 5px;
}
.user-icon img {
  width: 15px;
  vertical-align: middle;
  margin-right: 5px;
}
.content .text {
  color: var(--gray);
  margin-bottom: 1.5em;
  line-height: 1.5;

  overflow-wrap: anywhere;
  word-break: break-word;
  hyphens: none;
}
.content .date {
  margin-bottom: 0.5em;
  color: var(--gray);
}
.content .name {
  margin-bottom: 1em;
  color: var(--gray);
}

/* task  content box */
.priority-status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
}
.content:hover{
  cursor: pointer;
}
/* Dot - Small circle for representing the importance of the task. */
.priority-dot{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
}
/* status indicator*/
.status-dot{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
}

/* high */
.priority.high {
  color: red;
  border-radius: 15px;
  font-weight: bold;
  padding: 0.4em 1.1em;
  display: flex;
  align-items: center;
  gap: 0.3em;
  background-color: rgb(250, 232, 232);
}
.priority.high .priority-dot {
  background-color: red;
}

/* IN progress dot */
.status.inpro{
  display: flex;
  align-items: center;
  gap: 0.3em;
}
.status.inpro .status-dot{
  background-color: var(--highlight);
}

/* pending dot */
.status.pending{
  display: flex;
  align-items: center;
  gap: 0.3em;
}
.status.pending .status-dot{
  background-color: var(--medium);
}

/*  medium  */
.priority.medium{
  border-radius: 15px;
  font-weight: bold;
  color: var(--medium);
  padding: 0.4em 0.5em;
  display: flex;
  align-items: center;
  gap: 0.3em;
  background-color: rgb(255, 239, 239);
}
.priority.medium .priority-dot{
  background-color: var(--medium);
}

/* Low  */
.priority.low{
  border-radius: 15px;
  font-weight: bold;
  color: var(--low);
  padding: 0.4em 1.1em;
  display: flex;
  align-items: center;
  gap: 0.3em;
  background-color: rgb(223, 245, 228);
}
.priority.low .priority-dot{
  background-color: var(--low);
}

/* completed dot */
.status.completed {
  display: flex;
  align-items: center;
  gap: 0.3em;
}
.status.completed .status-dot{
  background-color: var(--low);
}

/* Footer styling */
.footer-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2em 4em;
  margin-top: 3em;
  background-color: var(--white);
  box-shadow: 0 -1px 1px var(--boxshadow);
}
.footer-container h4 {
  margin-bottom: 1.5em;
}
.footer-container li {
  list-style-type: none;
  margin-bottom: 1em;
}
.footer-container li a,p{
  text-decoration: none;
  color: var(--gray);
}
/* copy right symbols and text styling */
.footer-bottom {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
}
.footer-container li a:hover {
  color: var(--logo);
}
footer hr {
  width: 80%; /* reduces  line length */
  margin: 0 auto;
}

/* -------- Responsive Layout ---------- */

/*  Mobile view responsive layouts. */
@media (max-width: 600px) {
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    height: 60px;
    z-index: 9999;
  }
  .logo-section {
    padding: 0;
    margin-left: 1em;
  }

  .menu {
    display: block;
    cursor: pointer;
    margin-right: 1em;
  }
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    background: var(--white);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 60px; /* right below navbar */
    left: 0;
    text-align: center;
    padding: 1em 0;
  }
  .menu.active .menu-line:nth-child(1) {
    transform: translateY(8px) rotate(45deg); 
}

  .menu.active .menu-line:nth-child(2) {
    opacity: 0 /* Middle line hide */
}

  .menu.active .menu-line:nth-child(3) {
    transform: translateY(-4px) rotate(-45deg); 
}

  .nav-links.show {
    /* for Javascript className .show*/
    display: flex;
    gap: 1.5em;
  }
  /* Style mobile links */
  .nav-links a {
    display: block;
  }
  .title div {
    margin: 0;
    margin-right: 0.5em;
    padding: 0;
  }
  .title {
    margin: 0;
    margin-left: 1em;
    margin-top: 5.5rem;
    margin-bottom: 1.5rem;
  }
  .title h1 {
    font-size: 1.3em;
    padding: 0;
    margin: 0;
  }
  .container1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    max-width: 100%;
    margin: 0;
    padding: 0 1em;
    box-sizing: border-box;
  }
  .new-task form {
    width: 100%;
    padding: 0;
  }
  .container2 {
    margin: 0;
    padding: 0 1em;
  }
  .task-type br {
    display: block;
  }
  .status-type br {
    display: block;
  }
  .status-type .status-label {
    padding-right: 0;
  }
  .new-task,
  .active-task {
    width: 100%;
    margin: 0 auto;
  }
  .new-task form {
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
  }
  .task-buttons {
    display: flex;
    flex-direction: row; /* keep them side by side */
    justify-content: space-around;
    align-items: center;
    margin: 1.5em 1.2em;
    gap: 0.8em;
  }
  .task-buttons .create-button,.update-button{
    width: 50%;
    padding: 1em 1.2em;
    font-size: 1em;
  }
  .task-buttons .reset-button,.cancel-button {
    width: 30%;
    padding: 0.5em 1.1em;
    font-size: 0.95em;
  }
  /* Active tasks section */
  /*  Active tasks container navigationbar */
  .nav-buttons {
    width: 100%;
    margin-top: 1em;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 0.5em;
  }
  .nav-buttons label {
    width: 100%;
    text-align: center;
    padding: 0.4em 0.5em;
    font-size: 0.8em;
  }
  .navigationbar {
    padding: 1em 0;
    margin: 0;
  }
  /* .active-task {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 1.5em;
    margin-bottom: 1em;
  } */
  .task-details{
    top: 55%;
    width: 90vw;
    max-width: 360px;
    max-height: 80vh;
    overflow-y: auto;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
  "header"
  "info"
  "filter"
  "types"
  "progress"
  "description";
  }
  .task-info1{
    width: 100%;
  }

  /* Footer Section */
  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .footer-container h4 {
    margin-top: 1em;
  }
  .footer-bottom p {
    padding: 1em;
    text-align: center;
  }

  .edit-popup{
    padding: 0;
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 340px;
    max-height: 85vh;
    overflow-y: auto;
    border-radius: 10px;
    background:transparent;
    scrollbar-width: none;
  }
  .edit-popup #editTaskForm{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 1em 0;
  }
  .edit-overlay{
    height: 100%;
    width: 100%;
  }

  .edit-popup .task-type label[for="edit-feature"]{
    padding: 0 0 0 2em;
  }
  .success-toast,
  .update-toast,
  .delete-toast{
    width: 340px;
  }
}
/* Smaller mobile screen widths below 350px */
@media (max-width: 350px) {
  body {
    overflow-x: hidden;
  }
  .task-type {
    padding: 0;
  }
  .status-type {
    padding: 0;
  }
  .status-type .status-label {
    padding: 0 2em;
    padding-right: 1.5em;
  }
  .title {
    margin: 5.53m 0 1.3em 1.3em;
  }
  .container1 {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: start;
    margin: 0 auto;
    padding: 0 0.5em;
    box-sizing: border-box;
  }
  .new-task form {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
  }
  .container2 {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    padding: 0 0.5em;
    box-sizing: border-box;
  }
  .nav-buttons label {
    padding: 0.5em 0;
  }
  #editTaskForm label[for="edit-pending"],
   #editTaskForm label[for="edit-inprogress"]{
    padding: 0 0 0 2em;
  }
  .success-toast,
  .update-toast,
  .delete-toast{
    width: 300px;
  }
  .task-buttons .create-button{
    width: 60%;
  }
}
/*  Tablet views for 601px to 1024px */
@media (min-width: 601px) and (max-width: 1024px) {
  .navbar {
    height: 60px;
    width: 100%;
  }
  .logo-section {
    margin-left: -2.5em;
  }
  .nav-links {
    padding: 0;
    margin-right: 1.2em;
  }
  .title {
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
    margin-top: 2.5em;
    margin-left: 2em;
  }
  .title div {
    margin: 0;
    margin-right: 0.5em;
  }
  .container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2em;
    width: 100%;
    margin: 0;
    padding: 1.5em 2em;
    box-sizing: border-box;
  }
  .task-status br {
    display: none;
  }
  .task-status {
    margin: 0;
    margin-top: -1em;
  }
  .task-type {
    white-space: nowrap;
  }
  .task-type #task-label {
    padding-right: 0;
  }
  .status-type #status-label {
    padding-right: 0;
  }
  .status-type {
    white-space: nowrap;
  }
  .task-type #taskhead {
    margin-right: 1em;
  }
  .status-type #statushead {
    margin-right: 2.6em;
  }
  .new-task {
    width: 100%;
    margin: 0 auto;
  }
  .container2 {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
  }

  .task-details{
    width: 600px;
  }
  .nav-buttons label{
    padding: 0.2em 0.5em;
  }
  .task-buttons {
    justify-content: space-evenly;
    margin: 2em 1.2em;
    gap: 1.5em;
  }
  .task-buttons .create-button {
    width: 30%;
    padding: 1.2em 1.3em;
    font-size: 1.05em;
  }
  .task-buttons .reset-button {
    width: 20%;
    padding: 0.7em 1.2em;
    font-size: 1em;
  }
  /* Footer in  2 column grid */
  .footer-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    text-align: center;
    margin-top: 2em;
    width: 100%;
    box-sizing: border-box;
  }
  .footer-bottom {
    height: 50px;
  }
}
/*Small size laptops and tablet in landsacpe*/
@media (min-width: 1025px) and (max-width: 1150px) {
  .navbar {
    width: 100%;
    height: 60px;
    overflow-x: hidden;
  }
  .logo-section {
    padding: 0;
    padding-left: 2em;
  }
  .nav-links {
    margin: 0;
    padding-right: 2em;
  }
  .title {
    margin: 3em 0 2em;
    padding-left: 2em;
  }
  .title div {
    margin: 0;
    margin-right: 0.5em;
  }
  .container1 {
    padding: 0 2em;
  }
  .new-task form {
    width: 100%;
    max-width: 350px;
  }
  .priority-status {
    gap: 0;
    padding: 0;
  }
  .edit-popup{
    width: 900px;
  }
}
